body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 0;
}

.profile {
  margin-top: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 418px;
  height: 480px;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  box-shadow: 0 4px 8px rgba(62, 59, 59, 0.1);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.avatar {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(126, 120, 120);
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: unset;
}

.tag {
  color: #a29e9e;
  margin-bottom: unset;
}

.location {
  color: #a29e9e;
  margin-bottom: unset;
}

.stats {
  background-color: #f4f4f4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 418px;
  height: 100px;
  padding-inline: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.label {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #a29e9e;
}

.quantity {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  justify-content: space-between;
  border-right: solid 2px #a29e9e;
  border: 2px solid #f2f2f2;
  box-shadow: 0 4px 8px rgba(62, 59, 59, 0.1);
  padding-right: 44px;
  padding-left: 44px;
  padding-bottom: 31px;
  padding-top: 32px;
}
